@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  user-select: none;
}

*::-webkit-scrollbar {
  display: none;
}

.rounded-custom {
  border-radius: 25px;
}

.video-controls-container {
  width: 100%;
  z-index: 100;
}

.full-screen-button-section {
  z-index: 100;
}

.volume-button-section {
  z-index: 100;
}

.bg-colour {
  background-color: rgb(0, 0, 26);
}

.timer-section {
  z-index: 100;
}

.video {
  width: 100%;
  height: 100%;
}

.timeline-container {
  z-index: 100;
  bottom: 4.5rem;
}

.timeline {
  background-color: rgb(100, 100, 100);
}

.video-container:hover .video-controls-container,
.video-container:focus-within .video-controls-container,
.video-container.paused .video-controls-container,
.video-container:hover .full-screen-button-section,
.video-container:focus-within .full-screen-button-section,
.video-container.paused .full-screen-button-section,
.video-container:hover .timer-section,
.video-container:focus-within .timer-section,
.video-container.paused .timer-section,
.video-container:hover .volume-button-section,
.video-container:focus-within .volume-button-section,
.video-container.paused .volume-button-section {
  opacity: 1;
}

.video-controls-container .control-buttons {
  transform: translateX(-50%);
}

.video-controls-container::before {
  position: absolute;
  bottom: 0;
  content: '';
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
  width: 100%;
  aspect-ratio: 6/1;
  z-index: -1;
  pointer-events: none;
}

.video-container.full-screen {
  max-width: initial;
  width: 100%;
  max-height: 100%;
}

.mid-pause-play-button {
  z-index: 100;
  left: 45%;
  top: 40%;
}
